* {
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/ripples.png");
    margin: 0;
}
header{
    background-color:#ffffff;
    height: 70px;
    border-bottom: solid 2px #cccccc;
}
.headerDiv {
    width: 960px;
    margin: 0 auto;
}

h1{
    background-color: #4aaaa5;
    margin: auto;
    float: left;
    padding: 15px 20px 15px;
    color: white;
    }
 
    
nav {
    background-color: white;
    float: right;
    padding-top: 25px;
}

a {
    text-decoration: none;
    color: grey;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background-color: white;
    width: 960px;
    margin: 30px auto;
    padding: 30px;
    border: solid 1px lightgray ;
    overflow: auto;
    line-height: 1.2em;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

h2 {
    margin: 0;
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.ptwo {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 1.6;
    clear:both;
}

img {
    float: left;
    margin: 15px 15px 10px 0;
    height: 250px;
    width: 250px;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #666666;
    border-top:solid 8px #4aaaa5;
    text-align: center;
    padding-top: 50px;
    position: sticky;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 10px;
 }

 .button{
     background: #4aaaa5;
     color: white;
     margin-top: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: medium;
     padding: 10px 15px 10px 15px;    
 }

 .msg{
     height: 250px;
 }